{% extends 'base.html' %}

{% block content %}

<h1>Create Bill</h1>

<form method="POST">

<table>
    <tr>
        <th>Product</th>
        <th>Available</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>

    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>₹ {{ product.price }}</td>
        <td>
            <input type="number" min="0" name="quantity_{{ product.id }}" placeholder="0">
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<button type="submit" class="btn">Generate Bill</button>

</form>

{% endblock %}